body {
  margin-left: 10%;
  margin-right: 10%;
  background: black;
  color: white;
}

li {
  text-align: center;
  list-style-type: none;
  
}

a, a:visited {
  text-decoration: none;
  color: yellow;
}
a:hover {
  color: #00FF00;
}
